/** {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
    
    html,
body {
	background-color: #fff;
	color: #000;
	width: 100vw;
	min-height: 100vh;
	font-family: "Roboto", Arial, sans-serif;
    font-size: 22px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
	min-height: calc(100vh - 60px);
}
*/

body {
    margin: 0 auto;
    
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;

}


.container-fluid {
    width: 100%;
    
}

.searchEntry {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 50px;  

}

.googleTitle {
    
    padding: 10px;
    font-size: 6rem;
    letter-spacing: -5px;
    font-weight: 600;
    margin-bottom: 0.5rem;
    
}

.offscreen {
    display: none;
}

.blue {
    color: blue;
}
.red{
    color: red;
}
.yellow {
    color: yellow;
}
.green {
    color: green;
}

.inputField {
    display: inline-block;
}

form #search {
    margin: 20px;
    border-radius: 50px;
    border-width: thin;
    width: 100%;
    padding: 1rem;
    width: 600px;
}

#search:hover,
#search:focus {
    box-shadow: 2px 5px 10px #888888;;
}

button {

    cursor: pointer;
    background-color:white;
    border: 0;
    outline: none;
    height: 50px;
    width: 70px;
}

button:hover,
button:focus {
    color: green;
    background-color:pink;
}

