/** {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
    
    html,
body {
	background-color: #fff;
	color: #000;
	width: 100vw;
	min-height: 100vh;
	font-family: "Roboto", Arial, sans-serif;
    font-size: 22px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
	min-height: calc(100vh - 60px);
}
*/

body {
    margin: 0 auto;
    
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;

}


.container-fluid {
    width: 100%;
    
}

.searchEntry {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 50px;  

}

.googleTitle {
    margin: auto;
    padding: 10px;
    font-size: 350%;
    letter-spacing: -5px;
}

.offscreen {
    display: none;
}

.blue {
    color: blue;
}
.red{
    color: red;
}
.yellow {
    color: yellow;
}
.green {
    color: green;
}

form #search {
    margin: 20px;
    border-radius: 50px;
    width: 100%;
    padding: 1rem;
}

