
* {
    :focus {
        outline: none;
    }
}

body {
    margin: 0 auto;
    
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;

}

.container {
    width: 100%;
    
}

.searchEntry {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 50px;  

}

.googleTitle {
    
    padding: 10px;
    font-size: 6rem;
    letter-spacing: -5px;
    font-weight: 600;
    margin-bottom: 0.5rem;
    
}

.offscreen {
    display: none;
}

.blue {
    color: blue;
}
.red{
    color: red;
}
.yellow {
    color: yellow;
}
.green {
    color: green;
}

.inputField {
    display: inline-block;
}

form #search {

    outline: none;
    margin: 20px;
    border-radius: 50px;
    border-width: thin;
    border-color: red;
    width: 100%;
    padding: 3rem;
    width: 600px;
}

#search:hover,
#search:focus {
    box-shadow: 2px 5px 10px #888888;;
}

form button {
    margin-left: 50px;
    margin-top: 30px;
    position: absolute;
    cursor: pointer;
    color: white;
    background-color:rgb(58, 124, 58);
    border: 0;
    border-radius: 20px;
    outline: none;
    height: 70px;
    width: 90px;
}

button:hover,
button:focus {
    color: green;
    background-color:pink;
}

input[type="text"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

#clear {
    display: none;
    position: absolute;
    margin-top: 50px;
    margin-left: -80px; */
    cursor:pointer;
    border: none;
    outline: none;
}

